@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/*Global*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    border: 0;
    vertical-align: baseline;
}

@-ms-viewport {
		width: device-width;
	}

body {
    color: black;
    font-family: "Merriweather","Georgia";
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
    background-color: #bd92ee;
    -webkit-text-size-adjust: none;
}

li {
    list-style: none;
    margin : 1em 0em 0em 3em;
}

hr {
    display: block;
    height: 1px;
    margin: 2em 0;
    border-top: 3px solid black;
}

h1 {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 2rem 0;
    }
    

/*h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}*/

h2 {
    font-family: "Adobe Garamond Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
}

h3 {
    cursor: default;
}

a {
    text-decoration: none;
    border-bottom: none;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

p {
    text-align: justify;
    margin: 0 0 1em 0;
}

/*Type*/

html {
    font-size: 16pt;
    scroll-behavior: smooth;
}

    @media screen and (max-width: 1680px) {

        html {
            font-size: 12pt;
        }

    }

    @media screen and (max-width: 1280px) {

        html {
            font-size: 11pt;
        }

    }

    @media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

    @media screen and (max-width: 360px) {

        html {
            font-size: 10pt;
        }

    }

/*Intro*/

#intro {
    color: black;
    padding: 2em 4em 6em 4em;
    cursor: default;
}

#intro h1 {
    font-size: 5em;
    line-height: 1;
    text-align : center;
}

#intro a {
    text-decoration: none;
    color: #7a092b;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#intro a:hover {
    color: #e75480 !important;
    border-bottom-color: transparent;
    
}

#intro .image-first {
    display: block; 
    margin: 0 auto;
    border-radius: 50%;
    
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 5px;
    height: 300px;
}

#intro p {
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
    margin-top: -30px;
}

/*Header*/

@media screen and (max-width: 980px) {
    #header {
        height: 14rem;
        padding-bottom: 4rem;
    }
}

#header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-bottom: 8rem;
    height: 10rem;
    align-items: center;
}

#header .header-name {
    cursor: pointer;
    border-style: solid;
    border-color: #008080;
    border-width: 5px;
    font-family: "Source Sans Pro", "Adobe Garamond Pro";
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 1rem 1.75rem;
    text-transform: uppercase;
    visibility: visible;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
} 

#header a:hover {
    border-color: #e75480;
    color: #e75480;
}

/*Nav*/

/*#nav {
    color: white;
    display: flex;
    transition: transform 1s ease, opacity 1s ease;
    background: rgba(255, 255, 255, 0.175);
    height: 4rem;
    margin: -4rem auto 0 auto;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
    line-height: 4rem;
}

#nav ul.links{
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", "Helvetica", "sans-serif";
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
}

#nav ul.links li {
    display: block; 
    padding-left: 0
}

#nav ul.links .active a {
    color: black;
}

#nav li.active {
    background-color: #ac91f3;
}

#nav a {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#nav ul.links li a {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    font-size: 0.8em;
    outline: none;
    padding: 0 2rem;
}

#nav li.active a:hover {
    color: turquoise;
}

#nav li a:hover {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1);
}
*/

/*Main*/

#main {
    position: relative;
    background-color: rgb(200,180,250);
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}
    /*Overview*/ 
    #main > .description {
        margin: 0em 0em 0em 0em;
        padding: 0rem 4rem 4rem 4rem;
    }


/*Header*/

header { 
    cursor: default;
}
header.major {
    margin: -5rem 0 1rem 0;
    text-align: center;
}

.major h1 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
}

.major h1:hover {
    color: #7c3ac6;
    border-bottom-color: transparent;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.major p {
    text-align: center;
    margin-top: 0;
    font-style: italic;
}

.major > h1 + p {
    font-size: 1.1rem;
    line-height: 2;
}

.image-main {
    display: block;
}
.image-main img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 60%;
}

/*List Header*/

.list-accolade {
    position: relative;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    width: 20%;
}

.list-accolade:hover {
    color:  #7c3ac6;
    border-bottom-color: transparent;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

/*Movie Container*/

.section-title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    width: 15%;
}

.section-title:hover {
    color:  #7c3ac6;
    border-bottom-color: transparent;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.movie-container {
    display: flex;
    justify-content: start;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
}

.movie-container > * {
    padding: 4rem;
    flex-shrink: 1;
    flex-grow: 0;
    width: 50%;   
}

.movie-container > .movie-id {
    border-color: #bd92ee;
    border-left-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    text-align: center;
    border-right-width: 2px;
}

/*
.movie-id.one{
    position: relative;
    margin: 0em 0em 0em 3em;
}

.movie-id.two{
    position: relative;
    margin: 0em 0em 0em 2em;
}

.movie-id.three {
    position: relative;
    margin: 0em 0em 0em 9em;
}
*/

.movie-title a {
    margin-bottom: 0.5rem;
    color: black;
    
}

.movie-title a:hover {
    color: #7c3ac6;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.movie-id img {
    border-radius: 5px;
}

/*
.movie-id.two img {
    width: 100%;
    height: 79%;
    margin: 0em 0em 0em 0em;
    border-radius: 5px;
}

.movie-id.three img {
    width: 91%;
    margin: 0em 0em 0em 0em;
    border-radius: 5px;
}
*/

.movie-id.four img {
    width: 200px;
    height: 300px;
}

.movie-id.seven img {
    width: 200px;
    height: 300px;
}

.movie-id.eight img {
    width: 200px;
    height: 300px;
}

.movie-id.ten img {
    width: 200px;
    height: 320px;
}

.movie-id.eleven img {
    width: 200px;
    height: 300px;
}

.movie-id.twelve img {
    width: 200px;
    height: 300px;
}

.movie-id img:hover {
    opacity:.8;
    transition: opacity .3s ease;
}

.movie-rating {
    align-items: center;
}

.star-rating {
    vertical-align: baseline;
    position: relative;
    height: 17px;
}

.star-rating > i {
    display: inline-block;
    background-repeat: no-repeat;
    width: 15px;
    height: 23px;
    margin: 0 .25rem 0 0;
}

.star-rating > i.icon-star-full {
    background-image: url(./example_files/1024px-Gold_Star.svg);
}


/*Footer*/

#footer {
    display: flex;
    justify-content: center;
}

#footer a {
    color: rgb(64, 40, 172);
}
#footer a:hover {
    color: #105cbebe !important;
    border-bottom-color: transparent;
}